.excashApp {
  width: 100%;
  max-width: 1170px;
  margin: 0 2rem;
  padding: 7rem 1.5rem 7rem;
  border-radius: 2rem;
  background-color: #06100f;
  box-shadow: 0 2px 250px -10px rgba(28, 145, 135, 0.3);
}

.excashHeader {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
}

.logotype {
  display: block;
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.excashHeading {
  margin: 40px auto 0;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: #19ebd9;
}
